{% extends 'base.html' %}
{% load basename_filters %}
{% block content %}
<h1>{% if object %}Edit Contract{% else %}Create Contract{% endif %}</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="form-group">
    {{ form.title.label_tag }}
    {{ form.title }}
  </div>

  <div class="form-group">
    {{ form.description.label_tag }}
    {{ form.description }}
  </div>


  <div class="form-group">
    {{ form.visibility.label_tag }}
    {{ form.visibility }}
  </div>

  <div class="form-group">
    {{ form.allowed_companies.label_tag }}
    {{ form.allowed_companies }}
  </div>

  <div class="form-group">
    {{ form.second_party.label_tag }}
    {{ form.second_party }}
  </div>

  <h3>Data Usage Policy</h3>

  <div class="form-group">
    {{ form.purpose.label_tag }}
    {{ form.purpose }}
  </div>

  <div class="form-group">
    {{ form.retention_days.label_tag }}
    {{ form.retention_days }}
  </div>

  <div class="form-group">
    {{ form.allowed_users.label_tag }}
    {{ form.allowed_users }}
  </div>

  <div class="form-group">
    {{ form.conditions.label_tag }}
    {{ form.conditions }}
  </div>


  <button type="submit">Save Contract</button>
</form>
{% endblock %}
